<!DOCTYPE html>
<html lang="en">
		<head>
			<%= require('html-loader!./layout/head.html') %>
			<title> <%= htmlWebpackPlugin.options.title %> </title>
		</head>
    <style>
    </style>
    <body>
        <%= require('html-loader!./layout/nav-simple.html') %>
       	<div class="page-wrap">
       		<div class="w">
       			<div class="user-content">
       				<div class="user-title">
       					用户注册
       				</div>
       				<!-- 表单 -->
       				<div class="user-box">
       					<div class="error-item">
       						<i class="fa fa-minus-circle error-icon"></i>
       						<p class="err-msg">error</p>
       					</div>

       					<div class="user-item">
       						<label for="username" class="user-label">
       							<i class="fa fa-user"></i>
       						</label>
       						<input type="text" class="user-info" id="username" placeholder="请输入用户名" autocomplete="off" autofocus />
       					</div>
								
       					<div class="user-item">
       						<label for="password" class="user-label">
       							<i class="fa fa-lock"></i>
       						</label>
       						<input type="password" class="user-info" id="password" placeholder="请输入密码" autocomplete="off" />
       					</div>

       					<div class="user-item">
       						<label for="password-confirm" class="user-label">
       							<i class="fa fa-lock"></i>
       						</label>
       						<input type="password" class="user-info" id="password-confirm" placeholder="请再次输入密码" autocomplete="off" />
       					</div>

								<div class="user-item">
       						<label for="userphone" class="user-label">
       							<i class="fa fa-phone"></i>
       						</label>
       						<input type="text" class="user-info" id="userphone" placeholder="请输入手机号" autocomplete="off" autofocus />
       					</div>

								<div class="user-item">
       						<label for="useremail" class="user-label">
       							<i class="fa fa-envelope"></i>
       						</label>
       						<input type="text" class="user-info" id="useremail" placeholder="请输入邮箱" autocomplete="off" autofocus />
       					</div>

       					<div class="user-item">
       						<label for="userquestion" class="user-label">
       							<i class="fa fa-question"></i>
       						</label>
       						<input type="text" class="user-info" id="userquestion" placeholder="请输入密保问题" autocomplete="off" autofocus />
       					</div>
								
								<div class="user-item">
       						<label for="useranswer" class="user-label">
       							<i class="fa fa-key"></i>
       						</label>
       						<input type="text" class="user-info" id="useranswer" placeholder="请输入密保问题答案" autocomplete="off" autofocus />
       					</div>

       					<a class="btn btn-submit" id="submit">立即注册</a>
       					<div class="link-item">
       						<a href="./user-pass-reset.html" class="link" target="_blank">已有账号，去登录>> </a>
       						
       					</div>
       				</div>
       			</div>
       		</div>
       	</div>
        <%= require('html-loader!./layout/footer.html') %>
    </body>
    
    
</html>