/* 
* @Author: connie
* @Date:   2019-09-24 15:20:02
* @Last Modified by:   connie
* @Last Modified time: 2019-09-24 23:49:55
*/
.form-line{
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	margin-bottom: 10px;
}
.form-line .label{
	width: 60px;
	display: inline-block;
	text-align: left;
}

.form-line .input{
	height: 25px;
	line-height: 25px;
	width:200px;
	font-size: 14px;
	border: 1px solid #ccc;
  padding: 0 4px;
}